@font-face {
  font-family: 'Lato Black';
  src: url("../fonts/Lato-Black.woff2") format("woff2"), url("../fonts/Lato-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato Regular';
  src: url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Lato Regular', sans-serif;
  font-size: 14px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1140px;
  width: 90%;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 576px;
  }
}

.header {
  background: #262D33;
  padding: 15px 0;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-menu {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-menu-toggle {
  display: none;
}

.menu-item a {
  text-decoration: none;
  color: #ffffff;
  margin: 0 15px;
}

.search-form {
  position: relative;
  width: 25%;
  height: 40px;
}

.search-form input {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #656B70;
  border-radius: 10px;
  border: none;
  padding: 10px 25px;
}

.search-form input::-webkit-input-placeholder {
  color: #939699;
}

.search-form input:-ms-input-placeholder {
  color: #939699;
}

.search-form input::-ms-input-placeholder {
  color: #939699;
}

.search-form input::placeholder {
  color: #939699;
}

.search-form button {
  position: absolute;
  right: 20px;
  top: 0px;
  width: 25px;
  height: 40px;
  background-image: url(../images/search.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .menu-item a {
    margin: 0 10px;
  }
}

@media screen and (max-width: 1024px) {
  .search-form {
    width: 30%;
  }
  .header-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header-nav {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    padding-top: 30px;
  }
  .header-menu {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .menu-item a {
    margin: 0 30px 0 0;
  }
}

@media screen and (max-width: 768px) {
  .search-form {
    margin-left: auto;
    width: 40%;
  }
  .header-wrapper {
    position: relative;
  }
  .header-nav {
    display: none;
    position: absolute;
    right: 0;
    top: 55px;
    width: calc( 40% + 40px);
    background-color: #fff;
    padding: 30px;
    z-index: 99;
    border-radius: 10px;
    -webkit-box-shadow: 1px 1px 10px rgba(38, 45, 51, 0.2);
            box-shadow: 1px 1px 10px rgba(38, 45, 51, 0.2);
  }
  .header-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header-menu a {
    color: #000;
  }
  .header-menu-toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 30px;
    height: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 10px;
  }
  .header-menu-toggle span {
    width: 100%;
    height: 1px;
    background-color: #fff;
  }
  .menu-item:not(:last-child) {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 411px) {
  .search-form {
    width: 20%;
  }
  .search-form input::-webkit-input-placeholder {
    font-size: 0;
  }
  .search-form input:-ms-input-placeholder {
    font-size: 0;
  }
  .search-form input::-ms-input-placeholder {
    font-size: 0;
  }
  .search-form input::placeholder {
    font-size: 0;
  }
}

@media screen and (max-width: 330px) {
  .header-wrapper img {
    max-width: 80%;
  }
}

.home {
  background-color: #E5E5E5;
}

.front-page-header {
  background-color: #262D33;
  position: relative;
  padding-top: 30px;
  height: 475px;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  min-height: 570px;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.hero .left {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  position: relative;
  padding: 55px 55px 100px 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero .left::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(64, 48, 61, 0.35);
  z-index: 1;
}

.hero .left .post-thumb {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  z-index: 0;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero .left .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  position: relative;
  z-index: 2;
}

.hero .left .author-bio {
  margin-left: 10px;
}

.hero .left .author-name {
  display: block;
  font-size: 14px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.85);
}

.hero .left .author-rank {
  color: rgba(255, 255, 255, 0.4);
}

.hero .left .avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.hero .left .post-text {
  position: relative;
  z-index: 2;
}

.hero .left .post-title {
  font-size: 40px;
  line-height: 50px;
  color: #fff;
  font-family: 'Roboto Slab', serif;
  margin: 20px 0 50px 0;
  max-width: 570px;
}

.hero .right {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.hero .right .recommend {
  margin: 20px 0px 20px 25px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
}

.hero .right .posts-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.hero .right .post {
  padding: 17px 25px 19px 25px;
  margin: 0;
  border-top: 1px solid #D9DADB;
  min-height: 100px;
}

.hero .right .post-categories {
  padding: 0;
  margin: 0;
  list-style: none;
}

.hero .right .post-categories a {
  font-weight: 900;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  text-decoration: none;
}

.hero .right .post-permalink {
  text-decoration: none;
  color: #4B5157;
}

.hero .right .post:hover {
  background-color: #F5F5F5;
}

.hero .right .post .category-name {
  font-weight: 900;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}

.hero .right .post-title {
  min-height: 40px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin: 8px 0 0 0;
}

.more {
  display: inline-block;
  color: #ffffff;
  padding: 10px 50px 10px 20px;
  background-color: #4592FF;
  border-radius: 20px;
  text-decoration: none;
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  background-position: center right 20px;
}

.more:visited, .more:focus, .more:hover {
  color: #fff;
}

.category-link {
  color: #4592FF;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 12px;
  line-height: 15px;
  text-decoration: none;
}

.category-link:visited {
  color: #4592FF;
}

.category-link.web-design {
  color: #FFA34D;
}

.category-link.web-design:visited {
  color: #FFA34D;
}

.category-link.css {
  color: #3BBDC4;
}

.category-link.css:visited {
  color: #3BBDC4;
}

.category-link.java-script {
  color: #6E99AE;
}

.category-link.java-script:visited {
  color: #6E99AE;
}

.category-link.html {
  color: #AC8EE3;
}

.category-link.html:visited {
  color: #AC8EE3;
}

.category-link.css {
  color: #3DC47E;
}

.category-link.css:visited {
  color: #3DC47E;
}

@media screen and (max-width: 1200px) {
  .hero .right {
    -ms-flex-preferred-size: 35%;
        flex-basis: 35%;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .front-page-header {
    height: auto;
    padding-bottom: 30px;
  }
  .post-text {
    margin-top: 20px;
  }
}

@media screen and (max-width: 370px) {
  .hero .left {
    padding: 20px;
  }
  .hero .left .post-title {
    font-size: 30px;
    line-height: 35px;
  }
}

.article-list {
  margin: 180px 0 0 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #30363D;
  border-radius: 10px;
}

.article-item {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 25px 30px 25px;
  position: relative;
}

.article-item:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 1px;
  height: 70%;
  background-color: #4B5157;
  display: block;
}

.article-permalink {
  text-decoration: none;
  color: #ffffff;
  width: 150px;
}

.article-permalink:hover {
  color: #ffffff;
}

.article-permalink:visited {
  color: #fff;
}

.article-title {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

@media screen and (max-width: 1024px) {
  .article-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 240px;
  }
  .article-item {
    width: 50%;
    padding: 25px;
  }
  .article-permalink {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .article-list {
    margin-top: 30px;
  }
  .article-item {
    padding-top: 20px;
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 576px) {
  .article-item {
    width: 100%;
  }
  .article-permalink {
    width: 80%;
  }
}

.main-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.article-grid {
  width: 74%;
  margin: 30px 0 60px;
  padding: 0;
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30%, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  -ms-grid-rows: (minmax(200px, max-content))[3];
      grid-template-rows: repeat(3, minmax(200px, -webkit-max-content));
      grid-template-rows: repeat(3, minmax(200px, max-content));
  grid-auto-rows: minmax(200px, -webkit-max-content);
  grid-auto-rows: minmax(200px, max-content);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.article-grid-permalink {
  text-decoration: none;
  color: #262D33;
}

.article-grid-permalink:hover {
  color: #262D33;
}

.article-grid-item {
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
}

.article-grid-item-1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1 / 1 / 2 / 3;
  padding: 35px 35px 13px 35px;
  position: relative;
  overflow: hidden;
}

.article-grid-item-1 .category-name {
  font-weight: 900;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #6E99AE;
}

.article-grid-item-1 .article-grid-thumb {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.article-grid-item-1 .article-grid-title {
  width: 270px;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  margin: 20px 0 25px 0;
}

.article-grid-item-1 .article-grid-excerpt {
  font-size: 14px;
  width: 270px;
  margin-bottom: 30px;
  color: #4B5157;
  padding-bottom: 50px;
}

.article-grid-item-1 .article-grid-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px 35px;
  border-top: 1px solid #D9DADB;
  background-color: #fff;
}

.article-grid-item-1 .article-grid-info .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article-grid-item-1 .article-grid-info .author-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.article-grid-item-1 .article-grid-info .author-name {
  width: 390px;
  white-space: nowrap;
  overflow: hidden;
  color: #262D33;
}

.article-grid-item-1 .article-grid-info .author-name strong {
  font-family: "Lato Black", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #4B5157;
}

.article-grid-item-1 .article-grid-info .comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article-grid-item-1 .article-grid-info .comments-counter {
  font-size: 12px;
  line-height: 15px;
  color: #939699;
  margin-left: 5px;
}

.article-grid-item-2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 1 / 3 / 2 / 4;
  position: relative;
  background-color: transparent;
}

.article-grid-item-2::before {
  content: '';
  position: absolute;
  z-index: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(64, 48, 61, 0.35)), to(rgba(64, 48, 61, 0.35)));
  background: linear-gradient(0deg, rgba(64, 48, 61, 0.35), rgba(64, 48, 61, 0.35));
  width: 100%;
  height: 100%;
}

.article-grid-item-2 .article-grid-thumb {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
}

.article-grid-item-2 .article-grid-permalink {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 25px;
}

.article-grid-item-2 .article-grid-title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  margin: 23px 0 27px 0;
  color: #fff;
  text-transform: uppercase;
}

.article-grid-item-2 .tag {
  padding: 5px 12px;
  background-color: #3DC47E;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
  text-transform: capitalize;
}

.article-grid-item-2 .category-name {
  margin-top: auto;
  color: #E7D9FF;
  font-family: "Lato Black", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
}

.article-grid-item-2 .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article-grid-item-2 .author-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 10px;
  color: #fff;
}

.article-grid-item-2 .author-avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.article-grid-item-2 .author-name {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.article-grid-item-2 .date, .article-grid-item-2 .comments, .article-grid-item-2 .likes {
  opacity: 0.4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article-grid-item-2 .date:not(:last-child), .article-grid-item-2 .comments:not(:last-child), .article-grid-item-2 .likes:not(:last-child) {
  margin-right: 7px;
}

.article-grid-item-2 .date-counter, .article-grid-item-2 .comments-counter, .article-grid-item-2 .likes-counter {
  margin-left: 5px;
}

.article-grid-item-3 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2 / 1 / 4 / 2;
}

.article-grid-item-3 .article-thumb {
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.article-grid-item-3 .article-grid-title {
  padding: 15px 20px 35px 20px;
  margin: 0;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
}

.article-grid-item-default {
  position: relative;
}

.article-grid-item-default .article-grid-permalink {
  margin: 0;
  padding: 25px 25px 30px 25px;
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.article-grid-item-default .article-grid-title {
  margin: 0 0 5px 0;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
}

.article-grid-item-default .article-grid-excerpt {
  margin: 10px 0 auto 0;
}

@media screen and (max-width: 1200px) {
  .article-grid {
    -ms-grid-columns: (minmax(40%, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  }
}

@media screen and (max-width: 1024px) {
  .article-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (minmax(350px, max-content))[3];
        grid-template-rows: repeat(3, minmax(350px, -webkit-max-content));
        grid-template-rows: repeat(3, minmax(350px, max-content));
  }
  .article-grid-item {
    grid-area: auto;
  }
  .article-grid-item .tag {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 960px) {
  .main-grid {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .article-grid {
    width: 100%;
    margin-bottom: 0px;
  }
  .article-grid-item-3 .article-grid-thumb {
    width: 100%;
    height: 370px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media screen and (max-width: 768px) {
  .article-grid {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 576px) {
  .article-grid-item-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .article-grid-item-1 .article-grid-excerpt {
    width: 50%;
    margin-bottom: 20px;
  }
  .article-grid-item-1 .article-grid-title {
    width: 50%;
  }
}

@media screen and (max-width: 411px) {
  .article-grid-title {
    width: 100%;
  }
  .article-grid-excerpt {
    width: 100%;
  }
  .article-grid-item-1 .article-grid-thumb {
    display: none;
  }
  .article-grid-item-1 .article-grid-excerpt {
    width: 100%;
    margin-bottom: 20px;
  }
  .article-grid-item-1 .article-grid-title {
    width: 100%;
  }
  .article-grid-info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .author {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .author-name {
    width: 90% !important;
  }
}

@media screen and (max-width: 370px) {
  .article-grid-item-2 .article-grid-title {
    margin-bottom: 7px;
    margin-top: 7px;
    max-height: 100px;
    overflow: hidden;
  }
}

body {
  counter-reset: section;
}

.sidebar-front-page {
  margin: 30px 0 0 30px;
  max-width: 263px;
}

.widget {
  background-color: #fff;
  border-radius: 10px;
}

.widget-title {
  padding: 20px 25px;
  border-bottom: 1px solid #D9DADB;
  font-size: 14px;
  font-family: "Lato Black", sans-serif;
  margin: 0;
  text-transform: uppercase;
}

.widget-downloader {
  background: #3BBDC4 url("../images/file.svg") no-repeat top 22px right 24px;
  border-radius: 10px;
  color: #fff;
  padding: 25px 25px 55px 25px;
  position: relative;
}

.widget-downloader .widget-title {
  margin-top: 0;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  border: none;
  padding: 0;
  text-transform: none;
}

.widget-downloader .widget-link {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 12px 0 13px 0;
  border-top: 1px solid #96E2E3;
  color: #ffffff;
  text-decoration: none;
  font-family: "Lato Black", sans-serif;
  font-weight: 900;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.widget-downloader .widget-link-icon {
  margin-right: 10px;
}

.widget-downloader .description {
  color: #C1F4F5;
  font-size: 14px;
  margin: 0;
}

.widget .tagcloud {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 25px 25px 30px 25px;
}

.widget .tag-cloud-link {
  color: #262D33;
  font-weight: 900;
  font-size: 14px;
  text-transform: capitalize;
  margin: 0 10px 15px 0;
  text-decoration: none;
  padding: 5px 15px;
  border: 1px solid #D9DADB;
  border-radius: 5px;
}

.widget-socials .widget-title {
  font-size: 20px;
  font-family: "Roboto Slab", serif;
  color: #262D33;
  text-align: center;
  text-transform: none;
  padding-top: 30px;
  padding-bottom: 2px;
  border-bottom: none;
}

.widget-socials .widget-facebook {
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px;
}

.widget-socials .widget-twitter {
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px;
}

.widget-socials .widget-instagram {
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px;
}

.widget-socials .widget-youtube {
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px;
}

.widget-recent-posts-wrapper {
  padding: 0 25px 17px 25px;
}

.widget-recent-posts a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  padding-top: 17px;
  padding-bottom: 17px;
  position: relative;
}

.widget-recent-posts a:not(:last-child) {
  border-bottom: 1px solid #D9DADB;
}

.widget-recent-posts a::before {
  position: absolute;
  right: 5px;
  font-family: "Lato Black", sans-serif;
  font-style: italic;
  font-size: 70px;
  color: #262D33;
  opacity: 0.06;
  counter-increment: section;
  content: counter(section);
}

.widget-recent-posts img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.widget-recent-posts h4 {
  font-size: 14px;
  color: #4B5157;
  margin-top: 0;
  margin-bottom: 5px;
}

.widget-recent-posts span {
  font-size: 12px;
  color: #939699;
}

.widget-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 25px;
  padding-bottom: 40px;
}

@media screen and (max-width: 1200px) {
  .sidebar-front-page {
    width: 30%;
  }
}

@media screen and (max-width: 1024px) {
  .widget-recent-posts-wrapper a::before {
    top: -12px;
  }
  .widget-recent-posts-wrapper h4 {
    margin-top: 7px;
  }
}

@media screen and (max-width: 960px) {
  .sidebar-front-page {
    width: 100%;
    max-width: 100%;
    margin-left: 0;
  }
  .widget-recent-posts {
    margin-left: 30px;
  }
}

@media screen and (max-width: 576px) {
  .widget-recent-posts {
    margin-left: 0px;
  }
}

.investigation {
  padding: 50px 0 55px 0;
  text-align: center;
}

.investigation-title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  color: #fff;
  max-width: 946px;
  margin: auto;
  margin: 0 auto 25px auto;
}

@media screen and (max-width: 370px) {
  .investigation-title {
    font-size: 30px;
    line-height: 35px;
  }
}

.article-secondary {
  margin-top: 30px;
  margin-bottom: 60px;
}

.article-secondary-boxwrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.article-secondary-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 848px;
  margin: 0;
  padding: 0;
  margin-top: 30px;
}

.article-secondary-post {
  position: relative;
}

.article-secondary-post::after {
  content: '';
  width: 94%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: translateX(3%);
          transform: translateX(3%);
  background-color: #D9DADB;
}

.article-secondary-post:last-child .article-secondary-post::after {
  height: 0;
}

.article-secondary-post:first-child a {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.article-secondary-post:last-child a {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.article-secondary-post-permalink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  padding: 25px;
  text-decoration: none;
}

.article-secondary-post-img {
  -o-object-fit: cover;
     object-fit: cover;
}

.article-secondary-post-wrp {
  margin-left: 25px;
}

.article-secondary-post-category-name {
  font-weight: 900;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #6E99AE;
  text-decoration: none;
}

.article-secondary-post-category-name.opinions {
  color: #3BBDC4;
}

.article-secondary-post-category-name.opinions:visited {
  color: #3BBDC4;
}

.article-secondary-post-category-name.hot {
  color: #FF4F52;
}

.article-secondary-post-category-name.hot:visited {
  color: #FF4F52;
}

.article-secondary-post-category-name.match {
  color: #AC8EE3;
}

.article-secondary-post-category-name.match:visited {
  color: #AC8EE3;
}

.article-secondary-post-category-name.news {
  color: #4592FF;
}

.article-secondary-post-category-name.news:visited {
  color: #4592FF;
}

.article-secondary-post-title {
  font-family: "Roboto Slab", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: #262D33;
  margin-top: 15px;
  margin-bottom: 10px;
}

.article-secondary-post-excerpt {
  font-size: 14px;
  color: #4B5157;
  margin-bottom: 33px;
}

.article-secondary-post .author-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0;
  padding: 0;
  color: #939699;
}

.article-secondary-post .author-info .date, .article-secondary-post .author-info .comments, .article-secondary-post .author-info .likes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article-secondary-post .author-info .date:not(:last-child), .article-secondary-post .author-info .comments:not(:last-child), .article-secondary-post .author-info .likes:not(:last-child) {
  margin-right: 10px;
}

.article-secondary-post .author-info .date-counter, .article-secondary-post .author-info .comments-counter, .article-secondary-post .author-info .likes-counter {
  margin-left: 5px;
}

.article-secondary-post .author-info .date:hover, .article-secondary-post .author-info .comments:hover, .article-secondary-post .author-info .likes:hover {
  color: #939699;
}

@media screen and (max-width: 1200px) {
  .article-secondary-post-permalink {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .article-secondary-list {
    max-width: 70%;
  }
  .article-post-permalink {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .article-post-title {
    width: 100%;
  }
  .article-secondary-post-wrp {
    margin-left: 0px;
  }
  .article-secondary-post-img {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .article-secondary-boxwrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .article-secondary-list {
    max-width: 100%;
  }
}

.special {
  background-color: #262D33;
  padding: 60px 0;
}

.special-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.special-grid .left {
  min-height: 570px;
  width: 49%;
}

.special-grid .right {
  width: 49%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.special-article-post {
  background: #B4D1E0 url(../images/career-image.png) no-repeat top right;
  background-size: cover;
  width: 100%;
  list-style: none;
  padding: 30px 0 45px 35px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 25px;
}

.special-article-category {
  color: #6E99AE;
  text-transform: uppercase;
  font-size: 12px;
}

.special-article-title {
  width: 243px;
  font-family: Roboto Slab;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  margin: 15px 0 20px 0;
  color: #262D33;
}

.special-article-excerpt {
  width: 213px;
  margin-bottom: 45px;
  padding-bottom: 0;
  font-size: 14px;
  color: #4B5157;
}

.special-article-default {
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  width: 263px;
  list-style: none;
  min-height: 170px;
  padding: 25px;
}

.special-article-default-title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #262D33;
  margin: 0;
  margin-bottom: 5px;
}

.special-article-default-excerpt {
  font-size: 14px;
  line-height: 20px;
  color: #4B5157;
  margin: 0;
  margin-bottom: 10px;
  max-width: 213px;
}

.special-article-default-date {
  font-weight: 12px;
  color: #939699;
}

.photo-report {
  min-height: 570px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.photo-report .category-link {
  font-size: 12px;
  color: #fff;
  text-transform: none;
  border-radius: 3px;
  background-color: #3DC47E;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  padding: 5px 12px;
  position: absolute;
  left: 18px;
  top: 18px;
}

.photo-report .author {
  text-align: center;
  text-decoration: none;
}

.photo-report .author-name {
  display: block;
  color: #FFFFFF;
  opacity: 0.85;
  font-size: 14px;
}

.photo-report .author-rank {
  color: #FFFFFF;
  opacity: 0.4;
  font-size: 12px;
}

.photo-report .author-avatar {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  margin-bottom: 8px;
}

.photo-report::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(64, 48, 61, 0.35)), to(rgba(64, 48, 61, 0.35)));
  background: linear-gradient(0deg, rgba(64, 48, 61, 0.35), rgba(64, 48, 61, 0.35));
  z-index: 1;
}

.photo-report-icon {
  fill: #fff;
  margin-right: 8px;
}

.photo-report-button {
  color: #fff;
  background: #4592FF;
  border-radius: 20px;
  padding: 10px 20px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.photo-report-button:hover {
  color: #fff;
}

.photo-report-counter {
  margin-left: 8px;
}

.photo-report-content {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 18px;
  height: 100%;
  text-align: center;
}

.photo-report-slider {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.photo-report-slider .swiper-slide {
  height: 100%;
}

.photo-report-slider .swiper-slide img {
  height: inherit;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.photo-report-title {
  font-family: Roboto Slab;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  color: #fff;
}

.other {
  width: 49%;
}

@media screen and (max-width: 1200px) {
  .special-grid {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .special-grid .left {
    width: 100%;
    margin-bottom: 30px;
  }
  .special-grid .right {
    width: 100%;
  }
  .special-article-post {
    width: 100%;
  }
  .special-article-default {
    width: 100%;
    margin-bottom: 30px;
  }
  .special-article-default:last-child {
    margin-bottom: 0;
  }
  .special-article-default-excerpt {
    max-width: 90%;
  }
}

.footer {
  padding: 60px 0 55px 0;
  background-color: #fff;
}

.footer-menu {
  border-top: 5px solid #000;
  padding-right: 20px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.footer-menu:nth-child(1) {
  border-top: 5px solid #FF4F52;
}

.footer-menu:nth-child(2) {
  border-top: 5px solid #AC8EE3;
}

.footer-menu:nth-child(3) {
  border-top: 5px solid #4592FF;
}

.footer-menu:nth-child(4) {
  border-top: 5px solid #FFA34D;
}

.footer-menu:nth-child(5) {
  border-top: 5px solid #3DC47E;
}

.footer-menu:nth-child(6) {
  border-top: 5px solid #6E99AE;
}

.footer-menu-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 60px;
}

.footer-menu-title {
  font-family: "Lato Black", sans-serif;
  font-weight: 900;
  font-size: 14px;
  margin-bottom: 25px;
  margin-top: 30px;
}

.footer-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-menu ul a {
  display: inline-block;
  margin: 0 0 15px;
  color: #4B5157;
  font-size: 14px;
  text-decoration: none;
}

.footer-info {
  padding: 30px 0;
  border-top: 1px solid #D9DADB;
  border-bottom: 1px solid #D9DADB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-info .widget-wrp {
  margin: 0;
  padding: 0;
}

.footer-info .widget-wrp a {
  margin-left: 10px;
}

.footer-info ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-info ul a {
  color: #262D33;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Lato Black", sans serif;
}

.footer-text {
  max-width: 750px;
}

.footer-text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #939699;
  padding-top: 40px;
}

.footer-text-wrapper p {
  margin-top: 0;
  margin-bottom: 25px;
}

@media screen and (max-width: 1200px) {
  .footer-text {
    max-width: 70%;
  }
}

@media screen and (max-width: 800px) {
  .footer-nav .menu-item a {
    margin-right: 10px;
  }
}

@media screen and (max-width: 768px) {
  .footer-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-nav .menu-item {
    margin-bottom: 0;
  }
  .footer-nav .menu-item a {
    margin-right: 10px;
  }
  .footer-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-info .widget-wrp a:first-child {
    margin-left: 0;
  }
  .footer-info ul {
    margin-bottom: 20px;
  }
  .footer-social {
    max-width: 30%;
  }
  .footer-menu {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    margin-bottom: 30px;
  }
  .footer-menu:nth-child(3) {
    padding-right: 0;
  }
  .footer-menu:nth-child(4) {
    margin-bottom: 0;
  }
  .footer-menu:nth-child(5) {
    margin-bottom: 0;
  }
  .footer-menu:nth-child(6) {
    margin-bottom: 0;
    padding-right: 0;
  }
  .footer-menu-bar {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 576px) {
  .footer-info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-info ul {
    margin-bottom: 0;
  }
  .footer-social {
    margin: 0 auto;
    max-width: 50%;
  }
  .footer-menu {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .footer-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .footer-nav .menu-item a {
    margin-bottom: 5px;
    margin-right: 0;
  }
  .footer-text {
    max-width: 100%;
    text-align: center;
  }
  .footer-text-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-copyright {
    width: 100%;
    text-align: center;
  }
  .menu-footer-menu-container {
    margin: 0 auto 20px auto;
  }
}
